body {
    background-color:#f9e7e3;
}
header > * {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f7917b;
}
.main {
    background-image: url(https://images.unsplash.com/photo-1492267222091-a360457ca0be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1835&q=80);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.main .cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main h1 {
    margin-left: 5%;
    margin-top: 20%;
    font-size: 60px;
}
.main h3 {
    margin-left: 5%;
}
.main h1, h3 {
    color: #fdf9f8;
    font-family: 'Canela', serif;
}
.favoritos h2 {
    font-family: 'Canela', serif;
    font-size: 50px;
    color: #c8553d;
    margin-top: 40px;
    text-align: center;
}
.favoritos p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #56251b;
    text-align: center;
}
.flower-section {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 40px;
    margin-left: 12.5%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.flower-section .flower-card {
    background-color: #fdf9f8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
}
.flower-section .flower-card .flower-image img {
    width: 400px;
    height: 250px;
}
.flower-content h3 {
    font-family: 'Canela', serif;
    font-size: 25px;
    text-align: center;
    color: #c8553d;
}
.flower-content p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    padding-left: 8px;
}
.banner {
   background: url(https://cdn.pixabay.com/photo/2017/03/23/09/00/tulips-2167753_960_720.jpg);
   width: 100%;
   height: 500px;
   float: left;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   text-align: center;
   margin-bottom: 5px;
}
.banner h3 {
    background: rgba(0,0,0,.5);
    height: 500px;
    font-family:'Canela', serif;
    color: #fdf9f8;
    padding-top: 210px;
    font-weight: 500;
    font-size: 40px;
}
.container-pay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5% 10%;

}
.container-pay .card {
    margin: 100px;
    width: 250px;
    border: none;
    background-color:#f9e7e3;
}
.container-pay .card .content {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #56251b;
    text-align: left;
}
.footer {
    background-color: #f7917b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Poppins', sans-serif;
    color: #fdf9f8;
}
.footer .contacto {
    text-align: center;
    padding-top: 10px;
}
.email {
    text-align: center;
    padding-top: 15px;
}
.footer .redes {
    padding-top: 15px;
}

@media(max-width: 415px) {
    .navbar {
        font-size: 16px;
    }
    .main h1 {
        font-size: 35px;
        margin-left: 0;
        margin-top: 100px;
    }
    .viñedos-seccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 0 10px 0px;
        column-gap: 10px;
        row-gap: 10px;
        margin-bottom: 20px;
    }
    .viñedos-content h3 {
        font-size: 20px;
        color: black;
    }
    .viñedos-content p {
        font-size: 16px;
        font-weight: 200;
    }
    .maridajes-container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .maridajes-container .row .cartel .letrero h2 {
        font-size: 35px;
        padding: 0;
    }
    .promo {
        display: flex;
        flex-direction: column-reverse;
    }
    .promo .card {
        margin: auto;
    }
    .promo .card ul input {
        width: auto;
    }
    .promo .media {
        display: block;
        margin: auto;
        padding: 0;
        text-align: center;
        font-size: 16px;
    }
    .promo .media img {
        vertical-align: auto;
    }
    .promo .media .media-body p {
        padding: 5px;
        font-size: 16px;
    }
    .media .media-body h5 {
        font-size: 20px;
    }
    .footer {
        display: block;
        text-align: center;
    }
}


